<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div class="container" th:with="carLists = ${ { 1 , 2 , 3 , 4 , 5 } }">
    <div class="row mt-4 mb-4">
        <a th:each="c : ${carLists}" th:href="@{/cars(count=${c})}" th:text="|&nbsp;${c}&nbsp;|"/>
        <a th:href="@{/cars}" th:text="Все"/>
    </div>
</div>

<div class="container">
    <div class="row align-items-center">
        <div th:each="car : ${cars}" class="card mb-2 mr-2">
            <div class="card-header" th:text="${car.getModel()}"/>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:text="|Цвет: ${car.getColor()}|"/>
                <li class="list-group-item" th:text="|Год выпуска: ${car.getId()}|"/>
            </ul>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>
</html>